# Database Clients Lab

# Set up the database

## Step 1: Establish a connection
Open a new Jupyter notebook and import the MySQL Connector/Python API to establish a connection between Python and MySQL database. The code to establish a connection is given below. Use your own username and password when you are establishing a connection.

In [49]:
# Import MySQL Connector/Python 

import mysql.connector as connector

connection=connector.connect(user="root",password="root")

## Step 2: Create a cursor
Once the connection between Python and MySQL database is successfully established, you need a cursor object to communicate with MySQL. Create a cursor using the code given below:

In [50]:
cursor = connection.cursor()

## Step 3: Create the database and set it for use
Now that you have a connection and a cursor, create a new database little_lemon_db using the code below:

In [52]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db") 

# Set the database for use by executing the following SQL statement:
cursor.execute("USE little_lemon_db")

## Step 4: Create tables
You now need tables so that you can insert the data. Use the following queries to create your table structure:

### MenuItems table

In [8]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

### Menu table

In [9]:
create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

### Bookings table

In [14]:
create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

### Orders table

In [11]:
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

### Employees table

In [12]:
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

Now that you have defined the structures for all the required tables, use the code below and create the tables in your database little_lemon_db.

In [15]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

## Step 5: Insert data
The tables are ready for you to insert the data. Use the following INSERT queries to populate your tables in the little_lemon_db database.

In [31]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT IGNORE INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT IGNORE INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT IGNORE INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT IGNORE INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT IGNORE INTO employees(EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

Populate the tables using execute module on the cursor.

In [53]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [66]:
def test_count_rows():
    cursor.execute("USE little_lemon_db;")
    all_tests_passed = True
    
    # Test case 1: Count of MenuItems Rows
    count_menu_items = cursor.execute("SELECT COUNT(*) FROM MenuItems;")
    result_menu_items = cursor.fetchall()
    assert result_menu_items[0][0] == 17

    # Test case 2: Count of Menus Rows
    count_menu_items = cursor.execute("SELECT COUNT(*) FROM Menus;")
    result_menu_items = cursor.fetchall()
    assert result_menu_items[0][0] == 12

    # Test case 3: Count of Bookings Rows
    count_menu_items = cursor.execute("SELECT COUNT(*) FROM Bookings;")
    result_menu_items = cursor.fetchall()
    assert result_menu_items[0][0] == 6

    # Test case 4: Count of Orders Rows
    count_menu_items = cursor.execute("SELECT COUNT(*) FROM Orders;")
    result_menu_items = cursor.fetchall()
    assert result_menu_items[0][0] == 5

    # Test case 5: Count of Employees Rows
    count_menu_items = cursor.execute("SELECT COUNT(*) FROM Employees;")
    result_menu_items = cursor.fetchall()
    assert result_menu_items[0][0] == 6

    if all_tests_passed:
        print("All test cases passed!")

if __name__ == "__main__":
  test_count_rows()

All test cases passed!

# Implement and query stored procedures
In this exercise you must create a pool of connections and get a connection from the pool to implement the stored procedures to complete the following tasks:

Establish a connection by importing **MySQLConnectionPool** and creating a pool with two connections.

Create and call a stored procedure named **PeakHours** that identifies the peak, or busiest hour, for the restaurant based on the number of bookings.

Create and call a stored procedure named **GuestStatus** that outputs status of each guest’s order based on which employee is assigned to the order.

Stored procedures are created to carry out routine operations on MySQL databases. They are consistent and make sure that the written SQL queries in the procedures are executed in the same way every time you call the stored procedure.

A stored procedure is created only once, and you store it in the MySQL database. You can call the stored procedures as many times as you need in your Python-based application.

The tasks and the steps that you must follow to complete each one are as follows:

## Task 1: Establish a connection 
**Step one**: Import MySQLConnectionPool

**Step two**: Import Error

**Step three**: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors.

In [71]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import errorcode

dbconfig={"database":"little_lemon_db", "user":"root", "password":"root"}

pool = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)

## Task 2: Implement a stored procedure called PeakHours
- **Step one**: Write a SQL **CREATE PROCEDURE** query for **PeakHours**

    Use **HOUR** to extract the hour part from the BookingSlot.

    Use **COUNT** on hour to count the number of bookings.

    Use **GROUP BY** on booking hour.

    Use **ORDER BY** on the number of bookings in descending order.

- **Step two**: Run the stored procedure query by invoking execute module on the cursor.

- **Step three**: Invoke callproc to call the stored procedure.

- **Step four**: Fetch the results in a variable called dataset.

- **Step five**: Extract the names of the columns.

- **Step six**: Print the names of the columns.

- **Step seven**: Print the sorted data using for loop.

In [95]:
# Step 1 Write a SQL CREATE PROCEDURE query for PeakHours

peak_hour_procedure = """
    CREATE PROCEDURE IF NOT EXISTS PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS hour, COUNT(BookingSlot) AS count
        FROM Bookings
        GROUP BY hour
        ORDER BY COUNT(BookingSlot) DESC;
    END;
"""

In [96]:
# Step two: Run the stored procedure query by invoking execute module on the cursor.

cursor.execute(peak_hour_procedure)
connection.commit()

In [132]:
# Step three: Invoke callproc to call the stored procedure.

cursor.callproc("PeakHours")

()

In [134]:
# Step four: Fetch the results in a variable called dataset.

results_peak_hour = next(cursor.stored_results())
dataset = results_peak_hour.fetchall()

In [139]:
# Step five: Extract the names of the columns.

col_names = results_peak_hour.column_names

for col in col_names:
    print(col)

hour
count

In [130]:
# Step seven: Print the sorted data using for loop.
for result in dataset:
    print(result)

(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

## Task 3: Implement a stored procedure GuestStatus
- **Step one**: Write a SQL **CREATE PROCEDURE** query for **GuestStatus**.

- **Step two**: Combine the guest’s first and last name from the booking column using **CONCAT**. 

- **Step three**: Use **CASE** to implement the following statuses for each guest’s order:

     If the **Role** in the Employee table is **Manager** or **Assistant Manager** then the guest’s order status is **Ready to pay**

     If the **Role** in the Employee table is **Head Chef** then the status is **Ready to serve**

     If the **Role** in the Employee table is **Assistant Chef** then the status is **Preparing Order**

     If the **Role** in the Employee table is **Head Waiter** then the status is **Order served**

- **Step four**: **LEFT JOIN** Bookings table with Employees **ON EmployeeID**

- **Step five**: Run the stored procedure query by invoking execute module on the **cursor**.

- **Step six**: Invoke **callproc** to call the stored procedure.

- **Step seven**: Fetch the results in a variable called **dataset**.

- **Step eight**: Extract the names of the columns.

- **Step nine**: Print the names of the columns.

- **Step ten**: Print the sorted data using for loop.

- **Step eleven**: Close the connection to return it back to the pool.

In [152]:
# Step 1, 2, 3, 4
guest_status = """CREATE PROCEDURE IF NOT EXISTS GuestStatus()
    BEGIN
       SELECT CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS full_name,
       CASE E.Role
		WHEN 'Manager' THEN 'Ready to pay'
        WHEN 'Assistant Manager' THEN 'Ready to pay'
        WHEN 'Head Chef' THEN 'Ready to serve'
		WHEN 'Assistant Chef' THEN 'Preparing Order'
		WHEN 'Head Waiter' THEN 'Order served'
        ELSE 'Do nothing'
	END AS status
FROM Bookings AS B
LEFT JOIN Employees AS E ON B.EmployeeID = E.EmployeeID;
end;
"""

In [153]:
# Step five: Run the stored procedure query by invoking execute module on the cursor.

cursor.execute(guest_status)

In [154]:
# Step six: Invoke callproc to call the stored procedure.

cursor.callproc("GuestStatus")

()

In [155]:
# Step seven: Fetch the results in a variable called dataset.

results_guest_status = next(cursor.stored_results())
dataset_guest_status = results_guest_status.fetchall()

In [158]:
# Step eight: Extract the names of the columns.

guest_results_col_names = results_guest_status.column_names

In [159]:
# Step nine: Print the names of the columns.

for col in guest_results_col_names:
    print(col)

full_name
status

In [160]:
# Step ten: Print the sorted data using for loop.

for data in dataset_guest_status:
    print(data)

('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [165]:
# Step eleven: Close the connection to return it back to the pool.
connection.close

# Little Lemon Menu sales report project
You have gained all the necessary skills and knowledge required to interact with the back-end MySQL database from your Python-based front-end application via the standard database client MySQL Connector/Python. 

Follow the instructions in the exercises given below and create a Jupyter notebook to produce a Little Lemon analysis and sales report. You need to submit this report for your peers to review.

## Task 1:
Complete the following steps to establish a connection pool:

To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

To find the information on the error, import the Error class from MySQL Connector/Python.

Define your database configurations as a Python dictionary object called dbconfig.

Establish a connection pool [pool_name = pool_b] with two connections. 

Implement error handling using a try-except block in case the connection fails.

In [3]:
from mysql.connector import pooling, Error

In [4]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":"root"}
try:
    pool = pooling.MySQLConnectionPool(pool_name="pool_b",
                                                  pool_size=2,
                                                  host='localhost',
                                                  **dbconfig)
    print("The connectin pool is created with name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

The connectin pool is created with name: pool_b
The pool size is: 2

## Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:


TIP: You need to add a connection to connect the third guest.


**Guest 1:**

Table Number: 8

First Name: Anees

Last Name: Java

Booking Time: 18:00

EmployeeID: 6


**Guest 2:**

Table Number: 5

First Name: Bald

Last Name: Vin

Booking Time: 19:00

EmployeeID: 6


**Guest 3:**

Table Number: 12

First Name: Jay

Last Name: Kon

Booking Time: 19:30 

EmployeeID: 6


Return all the connections back to the pool. 


TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [5]:
data = {'Guest 1':{
'id':7,
'Table Number': 8,
'First Name': 'Anees',
'Last Name': 'Java',
'Booking Time': '18:00:00',
'EmployeeID': 6},
        'Guest 2':{
'id':8,
'Table Number': 5,
'First Name': 'Bald',
'Last Name': 'Vin',
'Booking Time': '19:00:00',
'EmployeeID': 6},
        'Guest 3':{
'id':9,
'Table Number': 12,
'First Name': 'Jay',
'Last Name': 'Kon',
'Booking Time': '19:30:00' ,
'EmployeeID': 6}}

## Task 3:
Create a report containing the following information:

The name and EmployeeID of the Little Lemon manager.

The name and role of the employee who receives the highest salary.

The number of guests booked between 18:00 and 20:00.

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [6]:
for i, x in enumerate(data):
    globals()[f'conn_{i}'] = None
    try:
        values = tuple(list(data[x].values()))
        globals()[f'conn_{i}'] = pool.get_connection()
        cursor = globals()[f'conn_{i}'].cursor()
        temp_stmt = f'''INSERT IGNORE INTO Bookings 
        VALUES {values}'''
        cursor.execute(temp_stmt)
        globals()[f'conn_{i}'].commit()
    except Error as err:
        print(x)
        print(err.msg)
        pool.add_connection()
        globals()[f'conn_{i}'] = pool.get_connection()
        cursor = globals()[f'conn_{i}'].cursor()
        temp_stmt = f'''INSERT IGNORE INTO Bookings 
        VALUES {values}'''
        cursor.execute(temp_stmt)
        globals()[f'conn_{i}'].commit()
try:
    conn_0.close()
    conn_1.close()
    conn_2.close()
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

Guest 3
Failed getting connection; pool exhausted
Error code: -1
Error message: Failed adding connection; queue is full

In [7]:
report_stmt_1 = '''
Select Name, EmployeeID FROM Employees
Where Role = 'Manager';
'''

In [8]:
report_stmt_2 = '''
Select Name, Role FROM Employees
where Annual_Salary =( select MAX(Annual_Salary) FROM Employees);
'''

In [9]:
report_stmt_3 = '''
Select COUNT(BookingID) AS number_of_guests FROM Bookings
Where BookingSlot BETWEEN '18:00:00' AND '20:00:00';
'''

In [10]:
report_stmt_4 = '''
SELECT CONCAT(GuestFirstName,' ',GuestLastName) AS GuestFullName, BookingID
FROM Bookings
Where EmployeeID != 6
ORDER BY BookingSlot;
'''

## Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 

Total sales

Average sale

Minimum bill paid

Maximum bill paid

In [11]:
create_basicsalesreport_proc = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount) AS Total_sales, AVG(BillAmount) AS Average_sale, MIN(BillAmount) AS Minimum_bill_paid,
MAX(BillAmount) as Maximum_bill_paid
FROM Orders;
END"""

In [12]:
conn_4 = pool.get_connection()
cursor = conn_4.cursor(buffered=True)

## Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

Returned the connection back to the pool.


The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [13]:
next_three_upcoming_bookings_stmt = '''
SELECT BookingSlot,
CONCAT('Guest_name: ', GuestFirstName,' ',GuestLastName) AS GuestFullName,
CONCAT('Assigned to: ', Name , ' ', '[', Role ,']') AS BookingAssignment
FROM Bookings 
INNER JOIN Employees
ON Bookings.EmployeeID=Employees.EmployeeID
ORDER BY BookingSlot;
'''
cursor.execute(next_three_upcoming_bookings_stmt)
dataset = cursor.fetchmany(3)

In [14]:
cursor.execute(next_three_upcoming_bookings_stmt)
dataset = cursor.fetchmany(3)

In [15]:
for data in dataset:
    delta = data[0]
    totalMinute, second = divmod(delta.seconds, 60)
    hour, minute = divmod(totalMinute, 60)
    print(f"BookingSlot {hour}:{minute:02}:{second:02}")
    print(' '*7,data[1])
    print(' '*7,data[2])
    print()

BookingSlot 15:00:00
        Guest_name: Vanessa McCarthy
        Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
        Guest_name: Marcos Romero
        Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
        Guest_name: Anees Java
        Assigned to: John Millar [Receptionist]

In [16]:
conn_4.close()